@charset "UTF-8";
/* CSS Document */

body{
	font-family: Georgia, Default Serif;
	font-size:12px;	
}

q{
	font-style:italic;	
}

#graph{
	
}

td{
	vertical-align:bottom;	
	width:50px;
	height:250px;
}
td div{
	background-color:#FFBBBB;	
}